<!DOCTYPE html>
<html>
<head>


   

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                @Html.ActionLink("Gamercante Project", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>


            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>


                    @{
                        Gamer.Models.Usuario usuario = Gamer.Repositories.Funcoes.GetUsuario();


                        if (usuario != null)
                        {
                            string getid = HttpContext.Current.Session["ID"].ToString();
                            <li>@Html.ActionLink("Meus Games", "MyGames", "Games", new { ID = getid }, htmlAttributes: null)</li>

                            <li>@Html.ActionLink("Minhas Informações", "Details", "Usuarios", new { id = getid }, htmlAttributes: null)</li>
                            <li>@Html.ActionLink("Sair", "Logoff", "Publico")</li>



                        }
                        else
                        {

                            <li>@Html.ActionLink("Logar", "Logar", "Publico")</li>
                            <li>@Html.ActionLink("Cadastrar-se", "Create", "Usuarios")</li>

                        }
                    }
                </ul>
            </div>

        </div>

    </div>
    @{

        if (usuario != null)
        {
            string ID = HttpContext.Current.Session["ID"].ToString();
            using (Html.BeginForm("Search", "Games", new { ID }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            @*@Html.TextBox("SearchString")*@
                            Pesquisar: <input type="text" name="SearchString" id="SearchString"
                                              class="form-control" />
                            <input type="submit" value="Pesquisar" class="btn btn-default" />

                        </div>
                    </div>
                </div>
                    }
                }
                else
                {
                    string ID = "0";
                    using (Html.BeginForm("Search", "Games", new { ID }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            @*@Html.TextBox("SearchString")*@
                            Pesquisar: <input type="text" name="SearchString" id="SearchString"
                                              class="form-control" />
                            <input type="submit" value="Pesquisar" class="btn btn-default" />

                        </div>
                    </div>
                </div>
            }

        }
    }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
