@model Gamer.Models.Game
@{
    ViewBag.Title = "Game - " + Model.Nome;
}
<h2>@Model.Nome</h2>
<p>
    @{ 
        string fileName = Model.Img;
        
        string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "\\Files\\Games\\" + fileName;
    }
    <img alt="@Model.Nome"
         src="@path" />
</p>
<div id="album-details">
    <p>
        <em>Gênero:</em>
        @Model.Categoria
    </p>
    <p>
        <em>Preço:</em>
        @String.Format("{0:F}",Model.Preco)
    </p>
    <p class="button">
        @Html.ActionLink("Adicionar ao carrinho", "AddToCart","ShoppingCart", new { id = Model.GameID }, "")
    </p>
</div>