@model Gamer.Models.Game
@{
    ViewBag.Title = "Game - " + Model.Nome;
}
<h2>@Model.Nome</h2>
<p>
    @{ 
        string fileName = Model.Img;

        string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "\\Files\\Games\\" + fileName;
    }
    <img alt="@Model.Nome"
         src="@path" />
</p>
<div id="album-details">
    @{
        Gamer.Models.Usuario usuario = Gamer.Repositories.Funcoes.GetUsuario();

        string GameId = Model.GameID.ToString();

        decimal Rating = Gamer.Models.DataChart.SelecionaClassificacao(GameId);
    }
    <p>
        <em>Gênero:</em>
        @Model.Categoria
    </p>
    <p>
        <em>Preço:</em>
        @String.Format("{0:F}", Model.Preco)
    </p>
    <p class="button">
        @{ 
            if (usuario!= null) {
        @Html.ActionLink("Adicionar ao carrinho", "AddToCart", "ShoppingCart", new { id = Model.GameID }, "")
            }
            else
            {
                <label>Você precisa estar logado para adicionar ao carrinho,@Html.ActionLink("Entrar","Logar","Publico")</label>
            }
            }
    </p>

    <label>Nota:</label>
    @Rating
    <p>Classifique o jogo</p>





    @{ if (usuario != null)
        {
            string UserId = HttpContext.Current.Session["ID"].ToString();

            using (Html.BeginForm("Create", "Rates", new { UserId, GameId }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-md-10">


                        @Html.RadioButton("Rating", "1")
                        @Html.RadioButton("Rating", "2")
                        @Html.RadioButton("Rating", "3")
                        @Html.RadioButton("Rating", "4")
                        @Html.RadioButton("Rating", "5")




                        <input type="submit" value="Classificar" class="btn btn-primary" />

                    </div>
                </div>

                <br />

            }
        }
    }



</div>