@model IEnumerable<Gamer.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Jogos</h2>

<div class="navbar-collapse collapse">

    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Início", "Index", "Home")</li>       

    </ul>
</div>

@using (Html.BeginForm("Search", "Games", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @*@Html.TextBox("SearchString")*@
                Pesquisar: <input type="text" name="SearchString" id="SearchString"
                                  class="form-control" />
                <input type="submit" value="Pesquisar" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plataforma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoNegocio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Img)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plataforma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoNegocio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>

                @{
                    string img = item.Img;
                    if (img != string.Empty)
                    {
                        if (img != null)
                        {
                            string file = img;
                            string path = System.Configuration.ConfigurationManager.AppSettings["PathWeb"] + "/Files/Games/" + file;
                            <img src='@Url.Content(path)' style="height:150px;" title="Foto" /><br />
                            <a href="@path" target="_blank">Visualizar</a>
                        }
                    }
                }


            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.GameID }) |
                @Html.ActionLink("Details", "Details", new { id = item.GameID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GameID })
            </td>
        </tr>
    }

</table>
