@model Gamer.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
    Gamer.Models.Context db = new Gamer.Models.Context();
}

<link href="~/css/font-awesome.css" rel="stylesheet" />

<script src="/Scripts/jquery-1.4.4.min.js"
        type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    });


    src = "https://www.paypal.com/sdk/js?client-id=ARHhbVzNFw2GawSKU8QimH8SgkB-7qSf41rKpKZPfQadprMo_wHFcRlzkJk1wNQDLQ8d0gAh0aJMxaaM" > // Required. Replace SB_CLIENT_ID with your sandbox client ID.

</script>
<h3>
    <em>Confira seu carrinho:</em>
</h3>


</div>

<style>

    

    .tdEspaco {
       
        
        
    }

    .thEspaco {
        
       
        
        padding: 20px;
    }

    .thtotal {
       
        
        
        padding: 10px;
    }

    table {
        border-spacing: 8px;
    }

</style>

<div id="update-message">
</div>
<table>
   
    @foreach (var item in Model.CartItems)
    {

        Gamer.Models.Game game = db.Games.Find(item.GameId);


        <tr id="row-@item.RecordId">
            <th class='thEspaco'>
              Nome do Jogo:  @Html.ActionLink(game.Nome, "Details", "Games", new { id = item.GameId }, null)
            </th>
            <th class='thEspaco'>
              Preço:  R$ @game.Preco
            </th>
            <th id="item-count-@item.RecordId" class='thEspaco'>
              Quantidade:  @item.Count 
            </th>
            <th class='thEspaco'>
                <a href="#" class="RemoveLink"
                   data-id="@item.RecordId">
                    
                </a>
            </th>
        </tr>
    }
    
    <tr class='thtotal'>
        
        
        <th id="cart-total">
         Total: R$  @Model.CartTotal
        </th>
    </tr>

</table>
@{
    decimal Valor = Model.CartTotal;
}


<i class="fa fa-paypal"></i>

@Html.ActionLink("Ir para o Paypal", "PaymentWithPaypal", "ShoppingCart")